<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p>
  <b>Content:</b>
  <%= @node.content %>
</p>

<p>
  <b>User:</b>
  <%= @node.user_id %>
</p>

<p>
  <b>Views:</b>
  <%= @node.views %>
</p>

<p>
  <b>Voteup:</b>
  <%= @node.voteUp %>
</p>

<p>
  <b>Votedown:</b>
  <%= @node.voteDown %>
</p>

<p>
  <b>Root:</b>
  <%= @node.root %>
</p>

<p>
  <b>Category:</b>
  <%= @node.category_id %>
</p>

<p>
  <b>Type:</b>
  <%= @node.type_id %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
