<p id="notice"><%= notice %></p>
<div Class="content_left">
	<div class="story_root round">
	  <b> <%= @node.title %> </b><br />
	  <%= @node.content %> <br />
	  <div class="story_info round">
		  <b>User:</b> <%= User.find(@node.user_id).username %>
		  <b>Views:</b> <%= @node.views %>
		  <b>Like:</b> <%= @node.voteUp %> 
		  <b>DisLike:</b><%= @node.voteDown %>
	  </div>
	  
	  <%= link_to 'Edit', edit_node_path(@node), :class =>'edit_delete funkcije' %>
	  <%= link_to 'Destroy', @node, confirm: 'Are you sure?', method: :delete , :class =>'edit_delete funkcije' %>
	</div> 
	
	
	<% @node.story.each do |node| %>
	<div class="story_replay round">
	  	<b> <%= node.title %> </b><br />
		<%= node.content %> <br />
		<div class="story_info round">
		  <b>U:</b> <%= User.find(node.user_id).username %>
		  <b>V:</b> <%= node.views %>
		  <b>Like:</b> <%= node.voteUp %> 
		  <b>DisLike:</b><%= node.voteDown %>
		</div>
		<%= link_to 'Edit', edit_node_path(node), :class =>'edit_delete funkcije' %>
        <%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete , :class =>'edit_delete funkcije' %>   
	</div> 
	   
	<% end %>
</div>




