
<p id="notice"><%= notice %></p>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.username %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Whaley's: </strong> <%= @user.nodes.count %><br />
      <strong>Email</strong> <%= @user.email %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br /><br />
      <%= link_to 'Edit', edit_user_path(@user) %> |
	  <%= link_to 'Back', users_path %>
    </td>
  </tr>
</table>

