<h1>Listing node_comments</h1>

<table>
  <tr>
    <th>Node</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @node_comments.each do |node_comment| %>
  <tr>
    <td><%= node_comment.node_id %></td>
    <td><%= node_comment.comment_id %></td>
    <td><%= link_to 'Show', node_comment %></td>
    <td><%= link_to 'Edit', edit_node_comment_path(node_comment) %></td>
    <td><%= link_to 'Destroy', node_comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Node comment', new_node_comment_path %>
